extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Aliquam sit amet ex sed urna sodales aliquet. Fusce interdum massa ligula, non imperdiet dui sollicitudin eleifend. Sed mattis, massa sit amet malesuada iaculis, neque leo elementum ligula, et ultricies quam metus id enim. Nulla laoreet nisl eget sem sollicitudin, vel feugiat sem malesuada. Quisque vulputate ante erat, eget imperdiet tortor mattis eget.
                p Integer dapibus sagittis nisl a porttitor. Donec accumsan convallis nulla. Nulla at ante vel lorem commodo sodales. Aenean tortor tellus, dictum sit amet velit sit amet, luctus aliquam leo. Donec cursus convallis vulputate. Suspendisse potenti. Etiam ac suscipit augue. Aliquam id leo lacinia nibh lobortis condimentum sed vel nisi. Etiam tincidunt neque sollicitudin auctor gravida. Nam scelerisque nisl ex, vel rhoncus libero viverra eu.
                p In purus nunc, ullamcorper efficitur ornare quis, imperdiet vel ex. Aenean ac varius ante, pulvinar ullamcorper orci. Integer hendrerit sem pharetra nulla lacinia, non aliquet diam efficitur.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nam velit nunc, tristique eget luctus vitae, sagittis nec ante. Integer iaculis tortor nec velit imperdiet, et imperdiet elit pellentesque.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Curabitur bibendum urna dapibus lobortis aliquam. Nam aliquet tincidunt odio, in lobortis libero gravida non. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Aenean tempus, lorem quis vestibulum hendrerit, lorem sem tempus tellus, eu volutpat urna nisl in enim.